{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="unity" content="Scifan, chain, Scifanchain">

    <title>用户注册</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="bookmark" href="{% static 'favicon.ico' %}"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

<div class="wh-100">
  <div class="container">
    <div class="row mt-5">
        <div class="col-lg-6">
            <h2>用户注册</h2>
        </div>
    </div>
  </div>
</div>

</body>
</html>